
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 0 2rem;
}

.Header {
  grid-column: 3 / span 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #333333;
}

nav li {
  display: inline-flex;
  padding: 0 0.5rem;
}

footer {
  background-color: #495E57;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 0 2rem;
}

.Footer {
  grid-column: 3 / span 8;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 0;
}

.Footer nav li{
  display:flex;
  padding:0;
}

.Footer nav a {
  color: aliceblue;
}

.Footer ul {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}